.main-content {
  max-width: 75rem;
  margin: 0 auto;
  padding: 1rem;
  direction: rtl;
}

:root {
  --white: rgb(255, 255, 255);
  --lightGrey: rgb(243, 242, 242);
  --grey: rgb(133, 133, 133);
  --black: rgb(18, 18, 18);

  --button: rgb(210, 164, 112);
  --primary: rgb(96, 56, 19);

  --icon-bgc: rgb(231, 31, 105);
}
