.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;

  .single-product {
    border: 1.5px solid var(--lightGrey);
    border-radius: 8px;
    padding: 1rem;
  }

  .price {
    font-size: 1.2rem;
    font-weight: bold;
  }

  .product-img {
    margin-right: 30%;
    margin-top: 20px;
  }

  .product-btn {
    background-color: var(--button);
    border: none;
    padding: 0.5rem;
    border-radius: 8px;
    margin-right: 80%;
    font-size: 0.6rem;
  }

  h3 {
    color: var(--primary);
  }
}

.intensity {
  font-weight: bold;
}
